.ux {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
  max-width: 1024px;
  width: 100%;
}

.ux__title {
  color: var(--black);
  text-align: center;
  margin: 0;
  @media (max-width: 780px) {
    font-size: 24px;
  }
}

.ux__subtitle {
  font-weight: 100;
  text-align: center;
  width: 50%;
  @media (max-width: 780px) {
    width: 100%;
  }
}

.case-studies__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
  grid-template-rows: repeat(2, 300px);
  gap: 32px;
  max-width: 1024px;
  width: 100%;
  margin-top: 32px;
  @media (max-width: 780px) {
    margin-top: 24px;
  }
}

.case-study__container {
  border: 1px solid var(--grey);
  position: relative;
  width: 100%;
  height: 300px;
  @media (max-width: 780px) {
    height: 260px;
  }
  overflow: hidden;
  cursor: pointer;
}

.case-study__link {
  text-decoration: none;
}

.case-study__info {
  color: var(--black);
  margin: 6px 0 0;
  display: flex;
  flex-direction: column;
}

.case-study__info span:first-child {
  font-size: 16px;
}

.case-study__info span:last-child {
  font-size: 14px;
  font-weight: 100;
}

.case-study__blur {
  position: absolute !important;
  top: 0;
  min-width: 350px;
  max-width: 400px;
  width: 100%;
}

.case-study__lazy-load {
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 300px;
  transition: transform 0.3s ease;
}

.case-study__lazy-load:hover {
  transform: scale(1.1);
}

.non-visible {
  opacity: 0;
}

.visible {
  animation: visible 300ms forwards;
}

@keyframes visible {
  from { opacity: 0; }
  to { opacity: 1; }
}