.about {
  margin: 24px 0;
  max-width: 768px;
  width: 100%;
}

.about__title {
  color: var(--black);
  text-align: center;
  margin: 0;
}

.about__description {
  font-weight: 100;
}

.about__link {
  color: var(--black);
  text-underline-offset: 2px;
}

.about__mailto {
  color: var(--blue);
  text-underline-offset: 2px;
}

@media (max-width: 780px) {
  .about__title {
    font-size: 24px;
  }
}