.home {
  margin: 24px 0;
  max-width: 768px;
  width: 100%;
}

.home__title {
  color: var(--black);
  text-align: center;
  margin: 0;
}

.home__description {
  font-weight: 100;
  text-align: center;
}

.topics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px;
  max-width: 1024px;
  width: 100%;
  margin-top: 32px;
}

.topic__container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.topic__link {
  text-decoration: none;
}

.topic__info {
  color: var(--black);
  margin: 6px 0 0;
  text-align: center;
}

.topic__blur {
  position: absolute !important;
  top: 0;
  min-width: 350px;
  max-width: 400px;
  width: 100%;
}

.topic__lazy-load {
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 300px;
  transition: transform 0.3s ease;
}

.topic__lazy-load:hover {
  transform: scale(1.1);
}

.non-visible {
  opacity: 0;
}

.visible {
  animation: visible 300ms forwards;
}

@keyframes visible {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 780px) {
  .home__title {
    font-size: 24px;
  }

  .topics {
    margin-top: 24px;
  }
}