.home {
  margin: 24px 0;
  max-width: 768px;
  width: 100%;
}

.home__title {
  color: var(--black);
  text-align: center;
  margin: 0;
  @media (max-width: 780px) {
    font-size: 24px;
  }
}

.home__description {
  font-weight: 100;
  text-align: center;
}