.section-card {
  background-color: var(--blue);
  margin: 32px 0;
  padding: 40px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.section-card__title {
  font-weight: 300;
  font-size: 24px;
  margin-right: 24px;
}

.section-card__items {
  border-left: 1px solid white;
}

.section-card__item {
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 780px) {
  .section-card {
    flex-direction: column;
    padding: 32px 24px;
  }
  
  .section-card__title {
    font-size: 20px;
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .section-card__items {
    border-left: none;
    padding: 0;
  }
  
  .section-card__item {
    font-size: 14px;
  }
}