.navbar {
  display: flex;
  justify-content: end;
  width: 100%;
  max-width: 1024px;
  padding: 32px 0;
  @media (max-width: 780px) {
    justify-content: center;
  }
}

.presentation {
  max-width: 1024px;
  width: 100%;
  margin: 0;
}

.presentation__image {
  width: 100%;
}

.contact-me {
  background-color: var(--blue);
  color: var(--blue);
  border: none;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}