.navbar {
  display: flex;
  justify-content: end;
  width: 100%;
  max-width: 1024px;
  @media (max-width: 780px) {
    justify-content: center;
  }
}

.presentation {
  width: 50vw;
  @media (max-width: 780px) {
    width: 100vw;
  }
}

.presentation__image {
  width: 100%;
}

.routing {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 32px;
}

.routing__label {
  text-decoration: none;
  color: var(--black);
  font-weight: 100;
}

.routing__label--active {
  color: var(--blue);
  font-weight: 500;
  text-underline-offset: 6px;
}

.contact-me {
  background-color: var(--blue);
  color: var(--blue);
  border: none;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}