.case-study {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.case-study__section {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  gap: 16px;
}

.overview__main-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  align-items: center;
}

.overview__main-section--left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.overview__general-section,
.designing__findings-section,
.going-forward__takeaways-section,
.going-forward__next-steps-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.empathizing__pain-points-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.empathizing__persona-section,
.empathizing__journey-section,
.designing__wireframes-section,
.redesigning__mockups-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
  align-items: center;
}

.designing__low-fi-section,
.redesigning__hi-fi-section,
.redesigning__key-mockups-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.designing__link,
.redesigning__link {
  color: var(--blue);
  text-underline-offset: 2px;
  margin-top: 12px;
}

.designing__description,
.going-forward__description {
  margin: 0;
  font-weight: 100;
}

.redesing__a11y-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.going-forward__mailto {
  color: var(--blue);
  text-underline-offset: 2px;
}

.evidence__container {
  background-color: var(--light-grey);
  margin: 0;
  width: 100%;
}

.evidence__image {
  display: block;
  width: 100%;
}

.back-to__header {
  text-align: center;
  margin: 8px 0 32px;
}

.back-to__footer {
  text-align: center;
  margin: 32px 0 0;
}

@media (max-width: 780px) {
  .overview__main-section {
    gap: 24px;
    grid-template-columns: 1fr;
  }

  .overview__main-section--left {
    gap: 24px;
  }

  .overview__general-section,
  .designing__findings-section,
  .going-forward__takeaways-section,
  .going-forward__next-steps-section,
  .empathizing__persona-section,
  .empathizing__journey-section,
  .designing__wireframes-section,
  .redesigning__mockups-section {
    gap: 24px;
    grid-template-columns: 1fr;
  }

  .empathizing__pain-points-section {
    grid-template-columns: 1fr;
  }

  .designing__description,
  .going-forward__description { 
    font-size: 14px;
  }

  .redesing__a11y-section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  .redesing__a11y-section {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  .empathizing__pain-points-section {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}