.footer {
  margin: 40px 0 48px;
}

.footer__text {
  text-align: center;
  font-weight: 100;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer__text span:first-child {
  margin-bottom: 4px;
}

.footer__text span:last-child {
  font-size: 14px;
}

.footer__link {
  color: var(--blue);
  text-underline-offset: 2px;
}

.social-media {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 24px;
}

.social-media__link {
  border: 1px solid var(--grey);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
}

.social-media__link:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.social-media__icon {
  width: 24px;
}

@media (max-width: 780px) {
  .social-media__link {
    width: 24px;
    height: 24px;
  }
}