.container {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routing {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.routing__label {
  text-decoration: none;
  color: var(--black);
  font-weight: 100;
}

.routing__label--active {
  color: var(--blue);
  font-weight: 500;
  text-underline-offset: 6px;
}