@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;700&display=swap');

:root {
  --hot-pink: #FF9494;
  --pink: #FFE3E1;
  --yellow: #FFF5E4;
  --blue: #E3F4F4;
  --green: #DBDFAA;
  --grey: #E1E3E1;
  --black: #1F1F1F;
  --rounded-md: 16px;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}